[Unit]
description=Custodian for X1E2 power management

[Service]
ExecStart=python -m x1e2_custodian daemon
User=root

[Install]
WantedBy=multi-user.target
